In [1]:
#Simple statistics with s list
digits=[1,2,3,4,5,6,7,8,9,10]
print(digits)
min(digits)
max(digits)
sum(digits)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

55

In [2]:
digits=[1,2,3,4,5,6,7,8,9,10]
min(digits)

1

In [3]:
digits=[1,2,3,4,5,6,7,8,9,10]
max(digits)

10

In [4]:
#Slicing
students=['ravi','ramu','ashok','tarun','shravya','mehta','deeksha']
print(students)

['ravi', 'ramu', 'ashok', 'tarun', 'shravya', 'mehta', 'deeksha']

In [5]:
len(students)

7

In [6]:
print(students[0:3])

['ravi', 'ramu', 'ashok']

In [7]:
print(students[2:5])

['ashok', 'tarun', 'shravya']

In [8]:
print(students[4:])

['shravya', 'mehta', 'deeksha']

In [10]:
#print alternative items in list
print(students[0:])
print(students[0:7:2])

['ravi', 'ramu', 'ashok', 'tarun', 'shravya', 'mehta', 'deeksha']
['ravi', 'ashok', 'shravya', 'deeksha']

In [15]:
#coping list
my_food=['dosa','idly','poori','bonda','upma']
my_food.append('uttapm')
print(my_food)
friends_food=my_food[:]
friends_food.append('choclate')
print(friends_food)

['dosa', 'idly', 'poori', 'bonda', 'upma', 'uttapm']
['dosa', 'idly', 'poori', 'bonda', 'upma', 'uttapm', 'choclate']

In [19]:
#Introduction to tuple is immutable data type ()

dimensions=(200,50)
print(dimensions)
type(dimensions)
#dimensions(250,100)
print(dimensions[1])
print(dimensions[:])

(200, 50)
50
(200, 50)